* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100dvw;
    height: 100dvh;
    font-family: "Open Sans", sans-serif;
}
