.themeButtons {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 20px;
}

.themeButtons > button {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    font-size: 17px;
    line-height: 1.175;
    min-width: 30px;
    padding: 7px 15px;
    border-radius: 1000px;
    background: #0071e3;
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
}

.phone {
    --background: #3a4252;
    --background-2: #1e232e;
    --band: #1c1c1f;
    --backgroud-image: url("/assets/backgrounds/wallpaper2.jpeg");
}

.phone {
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 670px;
    aspect-ratio: 9 / 19.5;
    z-index: 1;
}

.buttons > div {
    position: absolute;
    box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
    background: #2e3543;
    background: linear-gradient(144deg, var(--background-2) 0%, var(--background) 100%);
    width: 10px;
    left: -3px;
    border-radius: 2px;
}

.buttons > :first-child {
    height: 35px;
    top: 15%;
}

.buttons > :nth-child(2) {
    height: 55px;
    top: 24%;
}

.buttons > :last-child {
    height: 55px;
    top: 33%;
}

.display {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.5) inset;
    border-radius: 36pt;
    padding: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display > :not(.bezel) {
    background-color: var(--band);
    width: 100%;
    height: 0.5rem;
    position: absolute;
    left: 0;
    z-index: -1;
}

.display > :first-child {
    top: 5rem;
}

.display > :nth-child(2) {
    bottom: 5rem;
}

.display > :nth-child(3),
.display > :nth-child(4) {
    width: 0.5rem;
    height: 50%;
}

.display > :nth-child(3) {
    top: 0;
    left: calc(100% - 6rem);
}

.display > :nth-child(4) {
    bottom: 0;
    left: 6rem;
}

.bezel {
    width: 100%;
    height: 100%;
    background-color: #000004;
    border-radius: 35pt;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 30pt;
    background-image: var(--backgroud-image);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.shadow {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 50px #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 55pt;
}
