.container {
    height: 100%;
    padding: 60px 7px 7px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
}

.container:active {
    cursor: grabbing;
}

.container > :first-child {
    flex: 1;
    width: 100%;
}

.apps {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    align-items: start;
    height: fit-content;
    border-radius: 25pt;
    /* background-color: hsla(0, 0%, 0%, 0.1); */
    /* backdrop-filter: blur(7px); */
    width: 100%;
    padding: 15px;
}

.apps > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    position: relative;
    height: 56px;
}

.apps > div > div,
.isle > div > div {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 17px;
    height: 17px;
    background-color: #e6f2ff;
    border-radius: 50%;
    cursor: pointer;
}

.apps > div > div::after,
.isle > div > div::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 100dvw;
}

.apps > div.move {
    animation: shake 0.1s linear alternate infinite;
}

.apps > div.big {
    grid-column: span 2;
    grid-row: span 2;
}

.apps > div.big > img {
    width: 103px;
    height: 103px;
}

.apps > div > span {
    font-size: 7px;
    color: #fff;
    text-align: center;
    display: block;
    margin-top: 5px;
    font-weight: 600;
}

.apps > div > img {
    width: 44px;
    height: 44px;
    cursor: pointer;
}

.apps > div.move > img {
    cursor: grab;
}

.apps > div.move:active > img {
    cursor: grabbing;
}

.dots {
    margin: 5px 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 25pt;
    background-color: hsla(0, 0%, 0%, 0.3);
    backdrop-filter: blur(7px);
    padding: 8px;
    cursor: default;
}

.dots > div {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 100%, 0.15);
    cursor: pointer;
}

.dots > div.active {
    background-color: #fff;
}

.isle {
    border-radius: 25pt;
    background-color: hsla(0, 0%, 0%, 0.3);
    backdrop-filter: blur(7px);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    align-items: start;
    padding: 15px;
    cursor: default;
}

.isle > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
}

.isle > div > img {
    user-select: none;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

.isle > div.move {
    animation: shake 0.1s linear alternate infinite;
}

@keyframes shake {
    0% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}
