.dynamicIsland {
    position: absolute;
    top: 7px;
    width: calc(100% - 14px);
    margin: 0 7px;
    padding: 0 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25pt;
    z-index: 100;
}

.time {
    width: 20%;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    user-select: none;
}

.status {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;
}

.status > div {
    display: flex;
}

.status > div > svg {
    width: 14px;
    height: 14px;
    fill: #fff;
}

.status > div:last-child > svg {
    width: 18px;
    height: 18px;
}

.notch {
    background-color: hsl(0deg 0% 0%);
    width: 30%;
    height: 25px;
    border-radius: 100dvw;
    display: flex;
    justify-content: space-between;
    padding: 5px 6px;
    align-items: center;
    z-index: 2;
}

.speaker {
    width: 60%;
    height: 100%;
    border-radius: 50px;
    background-color: hsl(0deg 0% 3.53%);
    box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.37) inset;
}

.camera {
    width: 0.65em;
    height: 0.65em;
    margin-left: 0.55em;
    border-radius: 100px;
    background-color: hsl(0deg 0% 3.18%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lens {
    width: 0.3em;
    height: 0.3em;
    border-radius: 50px;
    background: #7b95ff;
    background: linear-gradient(144deg, rgba(123, 149, 255, 1) 0%, rgba(0, 0, 0, 1) 48%, rgba(123, 149, 255, 1) 100%);
}
